<div class="header">
    <div class="wrap">
    	<div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" /></a></div>
        <div class="nav">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About</a></li>
                <li><a href="single.html">Services</a></li>
                <li><a href="single.html">News</a></li>
                <li><a href="feedback.html">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>