<div class="sidebar">
<div class="right-box">
	<h2>Content here</h2>
    <ul>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    </ul>
	<h2>Distribution of letters</h2>
    <ul>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    <li><a href="#">Lorem ipsum dolor sit ame</a></li>
    </ul>
</div>
</div>