<div class="wrap">
   
<div class="content">
    <div class="left-box">
        <h2>Making it look like readable English</h2>
        <p class="para">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
        <img src="images/nest.jpg" alt=" " />
        <div class="clear"></div>
        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
     <p class="more"><a href="#">more...</a></p>
    </div>
    <div class="left-box">
        <h2>Many desktop publishing packages</h2>
        <p class="para">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
        <img src="images/nest1.jpg" alt=" " />
        <div class="clear"></div>
        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
     <p class="more"><a href="#">more...</a></p>
    </div>
</div>
<app-right-sidebar></app-right-sidebar>
<div class="clear"></div>
</div>